include MANIFEST.in
include LICENSE
include README.rst
include INSTALL.rst
include CONTRIBUTING.rst
include setup.py

include ctwrap/*.py
include ctwrap/modules/*.py
include ctwrap/bin/*.py
include docs/examples/*.ipynb
include docs/examples/*.py
include yaml/*.yaml
